
/*----------------------------------------------------------------------*/
/*轮播图*/
.cbp-bislideshow {
	width: 100%;
	height: 853px;
	position: relative;
	top: 0;
	left: 0;
}
.cbp-bislideshow li {
	position: absolute;
	width: 100%;
	height: 853px;
	opacity: 0;
	transition: opacity 5s;
}
.cbp-bislideshow li img {
	display: block;
	width: 100%;
	height:100%;
}
/*-----------------------------------------------------------------------------------------*/
/*衣品展示*/
.shop_uls:first-child{
	margin-top:165px;
}
.shop_uls{
	width:80%;
	display: flex;
	justify-content:space-between;
	margin-left:20% ;
	margin-top: 60px;
}
.shop_uls li{
	flex:1;
	margin:1%;
	position: relative;
}
.shop_uls li p{
	font-size: 14px;
	font-weight: bold;
	color:darkred;
	text-align: center;
	position:absolute;
	bottom:-40px;
	width: 100%;
}
.shop_uls li p a{
	display: block;
	color:darkred;
	text-align: center;
}
.shop_uls li img{
	width:100%;
}