
header{
	background: white;
}
/*登录/注册*/
.loginForm{
	padding: 165px 150px 0 300px;
	width:810px;
}
#regist p{
	margin-bottom: 14px;
	font-size: 12px;
}
#regist #title{
	padding:20px 0;
}
#regist_l{
	width:48%;
	margin-right: 4%;
	float:left;
}
#regist h5{
	padding-bottom:20px;
}
#regist_l h6{
	margin:12px 0 6px;
}
#regist_l .regist_form{
	width:180px;
	height:26px;
	border:1px solid black;
	outline: none;
}
#regist_l a{
	color:#ccc;
	display: block;
	margin:15px 0;
	text-decoration:underline;
}
#loginBtn,.btn01{
	width:238px;
	height:42px;
	background: black;
	border:none;
	color:#ccc;
}
#regist_r{
	width:48%;
	float:left;
	line-height: 20px;
}
/*help*/
.help{
	width:810px;
}
